.avatar {
  border: 10px solid rgb(255, 246, 246);
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.border-avatar{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}